langchain
langchain-openai
langchain-community
pypdf
faiss-cpu
python-dotenv
psycopg2-binary
psycopg[binary]
langgraph-checkpoint-postgres
langgraph
langchain-mcp-adapters
google-genai
duckduckgo-search
streamlit
pandas
PyPDF2
openai
python-docx
python-pptx
opencv-python
fastapi
uvicorn
pydantic